<%= form_with(model: notice, local: true, multipart: true, id: "add-new") do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="description">Description (<span id="desc-length">127</span>)</label>
    <%= form.hidden_field :latitude, id: "latitude" %>
    <%= form.hidden_field :longitude, id: "longitude" %>
    <%= form.text_area :description, id: :notice_description, size: "46x3" %>
    <%= form.label :polaroid %>
    <%= form.file_field :polaroid %>
    <label for="tags">Tags (<span>comma, seperated</span>)</label>
    <%= form.text_field :tag_list %>
    <%= form.label :location %>
    <%= form.text_field :location, id: "location" %>
  </div>
  <div class="field">
    <%= recaptcha_tags %>
  </div>
  <div class="actions">
    <%= form.submit "Add" %>
  </div>
<% end %>
