<%= form_with(model: notice, local: true, multipart: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="description">Description (<span id="desc-length">127</span>)</label>
    <%= form.text_area :description, id: :notice_description, size: "36x4" %>
    <%= form.label :polaroid %>
    <%= form.file_field :polaroid %>
    <%= form.label :tags %>
    <%= form.text_field :tag_list %>
  </div>

  <div class="actions">
    <%= form.submit "Add" %>
  </div>
<% end %>
