<!DOCTYPE html>
<html>
  <head>
    <title>Noticeboard</title>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet'/>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC8R7tniTnfyJOA5pLjwrViwlMZ_eXwn20&libraries=places"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="menu" >
      <div class="post-it-menu yellow">
        <%= image_tag "location.png" %>
      <%= form_tag "/", method: :get, id: "search-form" do %>
        <%= text_field_tag :search_location, params[:search_location] %>
        <%= hidden_field_tag :search_latitude, "" %>
        <%= hidden_field_tag :search_longitude, "" %>
      <% end %>
      </div>
      <div class="post-it-menu yellow tags">
        <div class="pin red"></div>
        <h1> Tags &nbsp; &nbsp; &nbsp;
          <% (@tags || []).each do |tag| %>
            <span><%= link_to tag, taggable_path(tag, request.GET) %></span>
          <% end %>
        </h1>
      </div>
    </div>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
